<p>Someone sent you an <a href="{{ reportUrl }}">article report!</a></p>

<p><a href="https://www.article-optimize.com">Article Optimizer</a> is a free tool for:</p>

<ul>
	<li>Improving content quality</li>
	<li>Identifying issues prior to publishing</li>
	<li>Finding copyright-free images on-topic</li>
</ul>