{# Begin Loading Overlay Animation #}
<div id="loading-animation" class="col-md-12 col-xs-6 overlay text-center hidden">	
	<h1 class="loading-text" style="">Analyzing...Please Wait...</h1>
	<img class="loading-img img-responsive" id="loading" src="{{ asset('img/loading.gif') }}"/ >
</div><!--/overlay-->
{# End Loading Overlay Animation #}